{% if content.field_short_title %}
  {% set title = content.field_short_title %}
{% else %}
  {% set title = label %}
{% endif %}

{%
  set link_classes = [
  'stretched-link',
  node.bundle|clean_class,
]
%}

<div class="card border-2 rounded-0 h-100">
  {{ content.field_featured_image }}
  <div class="card-body">
    <h3 class="card-title h5 mb-1 text-primary">
      <a href="{{ url }}"{{ attributes.addClass(link_classes).removeClass('contextual-region') }}>{{ title }}</a>
    </h3>
    <div class="card-text">
      {{ content|without('field_short_title','field_featured_image','field_resource_url') }}
    </div>
  </div>
</div>
