{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set mime_map = {
  'application/pdf': 'PDF',
  'application/msword': 'DOC',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'DOCX',
  'application/vnd.ms-excel': 'XLS',
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'XLSX',
  'application/vnd.ms-powerpoint': 'PPT',
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'PPTX',
} %}

{% set mime_type = mime_map[content.field_mime_type.0['#context']['value']] ?? 'File' %}

{%
  set classes = [
    'embed-document'
  ]
%}

{% if content %}

  {% set media_url = content.field_media_file.0|render|striptags|trim %}

  {# If display name or data-title exists, over name value #}
  {% if content.field_display_name|render|striptags|trim %}
    {% set media_title = content.field_display_name|render|striptags|trim|replace({'&#039;': "'", '&quot;': '"'}) %}
  {% elseif attributes['data-title'] is not empty %}
    {% set media_title = attributes['data-title']|replace({'&#039;': "'", '&quot;': '"'}) %}
  {% else %}
    {% set media_title = name %}
  {% endif %}

  <div{{ attributes.addClass(classes).removeClass('align-center') }}>
      <a href="{{ media_url }}"><i class="gg-file-{{ mime_type|lower }}"></i>{{ media_title }}</a>&nbsp;<span class="media-properties">({{ mime_type }} {{ content.field_file_size.0|render|striptags|format_size }})</span>
      {% if user.hasPermission('edit any document media') %}
        <span class="media-edit ms-2 small">
          <a href="{{ url('entity.media.canonical', {'media': media.id}) }}/edit" target="_blank">Edit</a> |
          <a href="{{ url('entity.media.canonical', {'media': media.id}) }}/translations" target="_blank">Translate</a>
        </span>
      {% endif %}
      {% if (content.field_description) and (attributes['data-description'] == "1") or ('description' in view_mode|clean_class) %}
        <div id="{{ name|clean_class }}" class="description">{{ content.field_description.0 }}</div>
      {% endif %}
      {# Because we use default for nearly everything, we need to output content
         here to get the EVA #}
      {{ content|without(
        'field_display_name',
        'field_description',
        'field_group',
        'field_document_type',
        'field_media_file',
        'field_file_size',
        'field_fy',
        'field_mime_type',
        'field_tags',
        'media_with_context_eva_translations_for_document') }}
      {% if attributes['data-hide-translations'] != "1" %}
        {{ content.media_with_context_eva_translations_for_document }}
      {% endif %}
  </div>

{% endif %}
